[submodule "SpriteBuilder/libs/cocos2d-iphone"]
	path = SpriteBuilder/libs/cocos2d-iphone
url=git@github.com:diwip-games/cocos2d.git
[submodule "SpriteBuilder/libs/ssziparchive"]
	path = SpriteBuilder/libs/ssziparchive
url=https://github.com/spritebuilder/ssziparchive.git

